<div class="container">
  <div class="row">
    <div class="mx-auto justify-content-between">
      <p>ようこそ、ながのCAKEへ！<br />
      このサイトは。ケーキ販売のECサイトになります。<br />
      会員でない方も商品の閲覧はできますが、<br />
      購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>

<div class="container">
  <div claas="row">
      <h1>新着商品</h1>
    <div class="d-flex justify-content-around">
        <% @items.each do |item| %>
        <%= link_to item_path (item.id) do %>
          <%= image_tag item.get_image, size: "200x200" %>
        <% end %>
          <p><%= link_to item.name,"/items/#{item.id}" %></p>
          <p><%= item.introduction %></p>
        <% end %>
    </div>
  </div>
</div>
